---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=appid&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664075792,"sunrise":1664023767,"sunset":1664067264,"temp":290.69,"feels_like":289.34,"pressure":1024,"humidity":32,"dew_point":273.82,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.91,"wind_deg":105,"wind_gust":1.93,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1664075820,"precipitation":0},{"dt":1664075880,"precipitation":0},{"dt":1664075940,"precipitation":0},{"dt":1664076000,"precipitation":0},{"dt":1664076060,"precipitation":0},{"dt":1664076120,"precipitation":0},{"dt":1664076180,"precipitation":0},{"dt":1664076240,"precipitation":0},{"dt":1664076300,"precipitation":0},{"dt":1664076360,"precipitation":0},{"dt":1664076420,"precipitation":0},{"dt":1664076480,"precipitation":0},{"dt":1664076540,"precipitation":0},{"dt":1664076600,"precipitation":0},{"dt":1664076660,"precipitati[...]
[...]
