---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=appid&exclude=minutely&lat=39.633321&lon=-105.317215&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6333,"lon":-105.3172,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664320700,"sunrise":1664283215,"sunset":1664326247,"temp":64.6,"feels_like":62.73,"pressure":1033,"humidity":42,"dew_point":41.02,"uvi":1.04,"clouds":84,"visibility":10000,"wind_speed":3,"wind_deg":223,"wind_gust":3,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1664319600,"temp":64.6,"feels_like":62.73,"pressure":1033,"humidity":42,"dew_point":41.02,"uvi":1.04,"clouds":84,"visibility":10000,"wind_speed":7.49,"wind_deg":200,"wind_gust":9.28,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.49,"rain":{"1h":0.21}},{"dt":1664323200,"temp":63.59,"feels_like":61.77,"pressure":1031,"humidity":45,"dew_point":41.88,"uvi":0.25,"clouds":85,"visibility":10000,"wind_speed":6.08,"wind_deg":208,"wind_gust":8.16,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.54},{"dt":1664326800,"temp":61.61,"feels_like":59.83,"pressure":1029,"humidity":50,"dew_point":42.82,"uvi":0,"clouds":85,"visibility":10000,"wind_speed":5.44,"wind_deg":229,"wind_gust":6.69,"weather[...]
[...]
