---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=appid&exclude=minutely&lat=39.633321&lon=-105.317215&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6333,"lon":-105.3172,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664319084,"sunrise":1664283215,"sunset":1664326247,"temp":65.52,"feels_like":63.64,"pressure":1036,"humidity":40,"dew_point":40.59,"uvi":1.04,"clouds":84,"visibility":10000,"wind_speed":1.01,"wind_deg":241,"wind_gust":1.01,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1664316000,"temp":65.43,"feels_like":63.5,"pressure":1033,"humidity":39,"dew_point":39.85,"uvi":2.39,"clouds":85,"visibility":10000,"wind_speed":4.99,"wind_deg":175,"wind_gust":7.61,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.38,"rain":{"1h":0.1}},{"dt":1664319600,"temp":65.52,"feels_like":63.64,"pressure":1036,"humidity":40,"dew_point":40.59,"uvi":1.04,"clouds":84,"visibility":10000,"wind_speed":7.49,"wind_deg":200,"wind_gust":9.28,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.49},{"dt":1664323200,"temp":64.33,"feels_like":62.53,"pressure":1033,"humidity":44,"dew_point":41.97,"uvi":0.25,"clouds":85,"visibility":10000,"wind_speed":6.08,"wind_deg":208,"wind_gust":8.16,"weather[...]
[...]
