---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/subjects/denver.json?details=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 6 0.004 SR 1 0.000 TT 0 0.166"'
    body:
      encoding: UTF-8
      string: '{"key": "/subjects/denver", "name": "Denver", "subject_type": "subject",
        "work_count": 20, "works": [{"key": "/works/OL9897019W", "title": "Boldfaced
        Lies", "edition_count": 3, "cover_id": 6480927, "cover_edition_key": "OL12340667M",
        "subject": ["Passing (Identity)", "Colorado", "Ku Klux Klan (1915- )", "Denver",
        "Fiction", "Accessible book", "Protected DAISY"], "ia_collection": ["americana",
        "inlibrary", "internetarchivebooks", "printdisabled", "smithsonianlibraries"],
        "lendinglibrary": false, "printdisabled": true, "lending_edition": "OL12340667M",
        "lending_identifier": "boldfacedliesnov00port", "authors": [{"key": "/authors/OL3879032A",
        "name": "Charlene A. Porter"}], "first_publish_year": null, "ia": "boldfacedliesnov00port",
        "public_scan": false, "has_fulltext": true, "availability": {"status": "borrow_available",
        "available_to_browse": true, "available_to_borrow": false, "available_to_waitlist":
        false, "is_printdisabled": true, "is_readable": false, "is_lendable": true,
        "is_previewable": true, "identifier": "boldfacedliesnov00port", "isbn": "1934099112",
        "oclc": null, "openlibrary_work": "OL9897019W", "openlibrary_edition": "OL12340667M",
        "last_loan_date": null, "num_waitlist": null, "last_waitlist_date": null,
        "is_restricted": true, "is_browseable": true, "__src__": "core.models.lending.get_availability"}},
        {"key": "/works/OL2766605W", "title": "The Regis santos", "edition_count":
        3, "cover_id": 1694386, "cover_edition_key": "OL708367M", "subject": ["Catalogs",
        "Folk art", "Santos (Art)", "Art collections", "Regis University (Denver,
        Colo.)", "Ethnic studies", "Exhibition catalogues and specific collections",
        "History Of Art / Art & Design Styles", "Museum, historic sites, gallery &
        art guides", "Hispanic Art[...]
