---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?subjects=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.007 TT 0 0.007"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 0,
            "start": 0,
            "numFoundExact": true,
            "docs": [],
            "num_found": 0,
            "q": "",
            "offset": null
        }
  recorded_at: Tue, 27 Sep 2022 01:39:14 GMT
- request:
    method: get
    uri: http://openlibrary.org/search.json?subject=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.341 TT 0 0.368"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 908,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL20329354W",
                    "type": "work",
                    "seed": [
                        "/books/OL28790790M",
                        "/books/OL34868248M",
                        "/books/OL34868247M",
                        "/books/OL34868242M",
                        "/books/OL34868237M",
                        "/books/OL34868251M",
                        "/books/OL28795263M",
                        "/books/OL34849791M",
                        "/books/OL28800056M",
                        "/books/OL34868239M",
                        "/books/OL348[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.301 TT 0 0.324"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 8849,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL7919260W",
                    "type": "work",
                    "seed": [
                        "/books/OL7534653M",
                        "/books/OL9773191M",
                        "/works/OL7919260W",
                        "/authors/OL2644662A"
                    ],
                    "title": "Denver                              **",
                    "title_suggest": "Denver                              **",
                    "edition_count": 2,
                    "edition_key": [
                        "OL7534653M",
                        "OL9773191M"
                    ],
                    "publish_date": [
                        "July 1982",
                        "1982"
                    ],
                    "publish_year": [
                        1982
                    ],
                    "first_publish_year": 1982,
                    "number_of_pages_median": 480,
                    "oclc": [
                        "8545466"
                    ],
                    "isbn": [
                        "0445047119",
                        "9780449047118",
                        "0449047113",
                        "9780445047112"
                    ],
                    "last_modified_i": 1303831840,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Popular Library",
                        "Fawcett Books"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2644662A"
                    ],
                    "author_name": [
                        "John Dunning"
                    ],
                    "id_goodreads": [
                        "572193",
                        "1709509"
                    ],
                    "id_librarything": [
                        "762567"
                    ],
                    "publisher_facet": [
                        "Fawcett Books",
                        "Popular Library"
                    ],
                    "_version_": 1735676409105350658,
                    "author_facet": [
                        "OL2644662A John Dunning"
                    ]
                },
                {
                    "key": "/works/OL26878533W",
                    "type": "work",
                    "seed": [
                        "/books/OL36444779M",
                        "/works/OL26878533W",
                        "/authors/OL10084594A"
                    ],
                    "title": "Denver Gift",
                    "title_suggest": "Denver Gift",
               [...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.237 TT 0 0.258"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 679,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL896607W",
                    "type": "work",
                    "seed": [
                        "/books/OL10945157M",
                        "/works/OL896607W",
                        "/authors/OL79165A"
                    ],
                    "title": "Denver west, CO and Bailey, CO: Denver, CO",
                    "title_suggest": "Denver west, CO and Bailey, CO: Denver, CO",
                    "subtitle": "39105, digital raster graphic data",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10945157M"
                    ],
                    "publish_date": [
                        "1996"
                    ],
                    "publish_year": [
                        1996
                    ],
                    "first_publish_year": 1996,
                    "isbn": [
                        "9780607620054",
                        "0607620056"
                    ],
                    "last_modified_i": 1272517172,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "USGS Branch of Distribution"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL79165A"
                    ],
                    "author_name": [
                        "United States Geological Survey"
                    ],
                    "author_alternative_name": [
                        "U.S. Geological Survey",
                        "Geological Survey. (U.S.)",
                        "Geological Survey (U .S.)",
                        "Geological Survey (U.S.)",
                        "Geological Survey (U. S.)",
                        "United States. Geological survey.",
                        "United States. Geological Survey",
                        "United States. Geological Survey.",
                        "Geological Survey (U.S.) 088"[...]
