---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=appid&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664318643,"sunrise":1664283136,"sunset":1664326167,"temp":73.31,"feels_like":71.94,"pressure":1020,"humidity":34,"dew_point":43.29,"uvi":1.06,"clouds":69,"visibility":10000,"wind_speed":3,"wind_deg":19,"wind_gust":7,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1664316000,"temp":73,"feels_like":71.56,"pressure":1020,"humidity":33,"dew_point":42.24,"uvi":2.49,"clouds":71,"visibility":10000,"wind_speed":10.04,"wind_deg":190,"wind_gust":13.29,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.24},{"dt":1664319600,"temp":73.31,"feels_like":71.94,"pressure":1020,"humidity":34,"dew_point":43.29,"uvi":1.06,"clouds":69,"visibility":10000,"wind_speed":9.15,"wind_deg":177,"wind_gust":12.24,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.28},{"dt":1664323200,"temp":73.33,"feels_like":71.87,"pressure":1020,"humidity":32,"dew_point":41.72,"uvi":0.25,"clouds":69,"visibility":10000,"wind_speed":11.9,"wind_deg":194,"wind_gust":14.63,"weather":[{[...]
[...]
