---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=appid&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664083723,"sunrise":1664023767,"sunset":1664067264,"temp":60.15,"feels_like":57.51,"pressure":1027,"humidity":35,"dew_point":32.43,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":215,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1664082000,"temp":60.15,"feels_like":57.51,"pressure":1027,"humidity":35,"dew_point":32.43,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.7,"wind_deg":27,"wind_gust":11.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664085600,"temp":61.21,"feels_like":58.53,"pressure":1026,"humidity":32,"dew_point":31.26,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.1,"wind_deg":10,"wind_gust":6.51,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664089200,"temp":61.68,"feels_like":58.96,"pressure":1025,"humidity":30,"dew_point":30.22,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":8.05,"wind_deg":11,"wind_gust":9.37,"weather":[{"id":800,"main":"Clear",[...]
[...]
