---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=key&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 18:32:31 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-383404197"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=845570564"}]}]}'
  recorded_at: Mon, 26 Sep 2022 18:32:31 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=appid&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664217151,"sunrise":1664196679,"sunset":1664239866,"temp":77.9,"feels_like":76.57,"pressure":1022,"humidity":25,"dew_point":39.29,"uvi":6.52,"clouds":0,"visibility":10000,"wind_speed":5.01,"wind_deg":71,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664215200,"temp":77.68,"feels_like":76.23,"pressure":1021,"humidity":23,"dew_point":36.99,"uvi":5.87,"clouds":0,"visibility":10000,"wind_speed":5.23,"wind_deg":75,"wind_gust":7.72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664218800,"temp":77.9,"feels_like":76.57,"pressure":1022,"humidity":25,"dew_point":39.29,"uvi":6.52,"clouds":0,"visibility":10000,"wind_speed":5.73,"wind_deg":70,"wind_gust":6.24,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664222400,"temp":78.51,"feels_like":77.09,"pressure":1021,"humidity":22,"dew_point":36.55,"uvi":5.95,"clouds":0,"visibility":10000,"wind_speed":4.7,"wind_deg":71,"wind_gust":3.91,"weather":[{"id":800,"main":"Cl[...]
[...]
- request:
    method: get
    uri: http://openlibrary.org/subjects/denver.json?details=true&limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 4 0.003 SR 1 0.000 TT 0 0.677"'
    body:
      encoding: UTF-8
      string: '{"key": "/subjects/denver", "name": "Denver", "subject_type": "subject",
        "work_count": 20, "works": [{"key": "/works/OL9897019W", "title": "Boldfaced
        Lies", "edition_count": 3, "cover_id": 6480927, "cover_edition_key": "OL12340667M",
        "subject": ["Passing (Identity)", "Colorado", "Ku Klux Klan (1915- )", "Denver",
        "Fiction", "Accessible book", "Protected DAISY"], "ia_collection": ["americana",
        "inlibrary", "internetarchivebooks", "printdisabled", "smithsonianlibraries"],
        "lendinglibrary": false, "printdisabled": true, "lending_edition": "OL12340667M",
        "lending_identifier": "boldfacedliesnov00port", "authors": [{"key": "/authors/OL3879032A",
        "name": "Charlene A. Porter"}], "first_publish_year": null, "ia": "boldfacedliesnov00port",
        "public_scan": false, "has_fulltext": true, "availability": {"status": "borrow_available",
        "available_to_browse": true, "available_to_borrow": false, "available_to_waitlist":
        false, "is_printdisabled": true, "is_readable": false, "is_lendable": true,
        "is_previewable": true, "identifier": "boldfacedliesnov00port", "isbn": "1934099112",
        "oclc": null, "openlibrary_work": "OL9897019W", "openlibrary_edition": "OL12340667M",
        "last_loan_date": null, "num_waitlist": null, "last_waitlist_date": null,
        "is_restricted": true, "is_browseable": true, "__src__": "core.models.lending.get_availability"}},
        {"key": "/works/OL2766605W", "title": "The Regis santos", "edition_count":
        3, "cover_id": 1694386, "cover_edition_key": "OL708367M", "subject": ["Catalogs",
        "Folk art", "Santos (Art)", "Art collections", "Regis University (Denver,
        Colo.)", "Ethnic studies", "Exhibition catalogues and specific collections",
        "History Of Art / Art & Design Styles", "Museum, historic sites, gallery &
        art guides", "Hispanic Art[...]
[...]
- request:
    method: get
    uri: http://openlibrary.org/subjects/denver.json?details=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
 