---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=key&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 17:33:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-120996512"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=727397757"}]}]}'
  recorded_at: Mon, 26 Sep 2022 17:33:23 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=appid&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664213988,"sunrise":1664196679,"sunset":1664239866,"temp":76.39,"feels_like":75,"pressure":1022,"humidity":27,"dew_point":39.97,"uvi":5.86,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":34,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664211600,"temp":75.94,"feels_like":74.41,"pressure":1021,"humidity":25,"dew_point":37.63,"uvi":4.41,"clouds":0,"visibility":10000,"wind_speed":2.04,"wind_deg":116,"wind_gust":2.37,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664215200,"temp":76.39,"feels_like":75,"pressure":1022,"humidity":27,"dew_point":39.97,"uvi":5.86,"clouds":0,"visibility":10000,"wind_speed":5.23,"wind_deg":75,"wind_gust":7.72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664218800,"temp":76.95,"feels_like":75.47,"pressure":1021,"humidity":24,"dew_point":37.44,"uvi":6.46,"clouds":0,"visibility":10000,"wind_speed":5.73,"wind_deg":70,"wind_gust":6.24,"weather":[{"id":800,"main":"Cle[...]
[...]
- request:
    method: get
    uri: http://openlibrary.org/subjects/denver.json?details=true&limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 4 0.003 SR 1 0.000 TT 0 0.330"'
    body:
      encoding: UTF-8
      string: '{"key": "/subjects/denver", "name": "Denver", "subject_type": "subject",
        "work_count": 20, "works": [{"key": "/works/OL9897019W", "title": "Boldfaced
        Lies", "edition_count": 3, "cover_id": 6480927, "cover_edition_key": "OL12340667M",
        "subject": ["Passing (Identity)", "Colorado", "Ku Klux Klan (1915- )", "Denver",
        "Fiction", "Accessible book", "Protected DAISY"], "ia_collection": ["americana",
        "inlibrary", "internetarchivebooks", "printdisabled", "smithsonianlibraries"],
        "lendinglibrary": false, "printdisabled": true, "lending_edition": "OL12340667M",
        "lending_identifier": "boldfacedliesnov00port", "authors": [{"key": "/authors/OL3879032A",
        "name": "Charlene A. Porter"}], "first_publish_year": null, "ia": "boldfacedliesnov00port",
        "public_scan": false, "has_fulltext": true, "availability": {"status": "borrow_available",
        "available_to_browse": true, "available_to_borrow": false, "available_to_waitlist":
        false, "is_printdisabled": true, "is_readable": false, "is_lendable": true,
        "is_previewable": true, "identifier": "boldfacedliesnov00port", "isbn": "1934099112",
        "oclc": null, "openlibrary_work": "OL9897019W", "openlibrary_edition": "OL12340667M",
        "last_loan_date": null, "num_waitlist": null, "last_waitlist_date": null,
        "is_restricted": true, "is_browseable": true, "__src__": "core.models.lending.get_availability"}},
        {"key": "/works/OL2766605W", "title": "The Regis santos", "edition_count":
        3, "cover_id": 1694386, "cover_edition_key": "OL708367M", "subject": ["Catalogs",
        "Folk art", "Santos (Art)", "Art collections", "Regis University (Denver,
        Colo.)", "Ethnic studies", "Exhibition catalogues and specific collections",
        "History Of Art / Art & Design Styles", "Museum, historic sites, gallery &
        art guides", "Hispanic Art[...]
[...]
- request:
    method: get
    uri: http://openlibrary.org/subjects/denver.json?details=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 6 0.005 SR 1 0.000 TT 0 0.145"'
    body:
      encoding: UTF-8
      string: '{"key": "/subjects/denver", "name": "Denver", "subject_type": "subject",
        "work_count": 20, "works": [{"key":[...]
- request:
    method: get
    uri: http://openlibrary.org/books/OL12340667M.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.004"'
    body:
      encoding: UTF-8
      string: '{"publishers": ["Rose City Press"], "identifiers": {"goodreads": ["3624325"]},
        "ia_box_id": ["IA117404"], "covers": [6480927], "physical_format": "Hardcover",
        "key": "/books/OL12340667M", "authors": [{"key": "/authors/OL3879032A"}],
        "ocaid": "boldfacedliesnov00port", "source_records": ["amazon:1934099112",
        "marc:marc_loc_updates/v35.i12.records.utf8:11702355:796", "marc:marc_loc_updates/v36.i04.records.utf8:18012748:791",
        "ia:boldfacedliesnov00port", "marc:marc_loc_2016/BooksAll.2016.part34.utf8:181673992:791"],
        "title": "Boldfaced Lies", "number_of_pages": 349, "languages": [{"key": "/languages/eng"}],
        "isbn_10": ["1934099112"], "publish_date": "2006", "oclc_numbers": ["70877639"],
        "works": [{"key": "/works/OL9897019W"}], "type": {"key": "/type/edition"},
        "lccn": ["2007295483"], "lc_classifications": ["PS3566.O6423 B65 2006"], "latest_revision":
        10, "revision": 10, "created": {"type": "/type/datetime", "value": "2008-04-30T20:50:18.033121"},
        "last_modified": {"type": "/type/datetime", "value": "2020-12-17T13:33:39.124109"}}'
  recorded_at: Mon, 26 Sep 2022 20:47:04 GMT
- request:
    method: get
    uri: http://openlibrary.org/books/OL708367M.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.004"'
    body:
      encoding: UTF-8
      string: '{"publishers": ["LPD Press"], "identifiers": {"goodreads": ["495928",
        "4342018"], "librarything": ["4893103"]}, "subtitle": "thirty years of collecting
        1966-1996", "isbn_10": ["0964154242", "0964154277"], "subject_place": ["New
        Mexico", "Colorado", "Denver"], "pagination": "91 p. :", "covers": [1694386,
        727871], "lc_classifications": ["N7910.N6 S78 1997", "N7910.N6S78 1997"],
        "key": "/books/OL708367M", "authors": [{"key": "/authors/OL406949A"}], "publish_places":
        ["Albuquerque, NM"], "contributions": ["Awalt, Barbe.", "Rhetts, Paul Fisher."],
        "genres": ["Catalogs."], "source_records": ["marc:marc_loc_2016/BooksAll.2016.part26.utf8:82605084:1164",
        "bwb:9780964154247"], "title": "The Regis santos", "dewey_decimal_class":
        ["704.9/482/07478883"], "notes": {"type": "/type/text", "value": "Includes
        bibliographical references (p. 87-90) and indexes."}, "number_of_pages": 91,
        "languages": [{"key": "/languages/eng"}], "lccn": ["97070979"], "subjects":
        ["Regis University (Denver, Colo.) -- Art collections -- Catalogs.", "Santos
        (Art) -- New Mexico -- Catalogs.", "Folk art -- New Mexico -- Catalogs.",
        "Santos (Art) -- Colorado -- Denver -- Catalogs.", "Folk art -- Colorado --
        Denver -- Catalogs."], "publish_date": "1997", "publish_country": "nmu", "by_statement":
        "by Thomas J. Steele, Barbe Awalt, and Paul Rhetts.", "oclc_numbers": ["37482854"],
        "works": [{"key": "/works/OL2766605W"}], "type": {"key": "/type/edition"},
        "latest_revision": 9, "revision": 9, "created": {"type": "/type/datetime",
        "value": "2008-04-01T03:28:50.625462"}, "last_modified": {"type": "/type/datetime",
        "value": "2021-09-17T21:05:30.232755"}}'
  recorded_at: Mon, 26 Sep 2022 20:47:04 GMT
- request:
    method: get
    uri: http://openlibrary.org/books/OL5416784M.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.003"'
    body:
      encoding: UTF-8
      string: '{"publishers": ["University of Washington Press"], "number_of_pages":
        364, "isbn_10": ["0295952989"], "series": ["Americana library, AL-28"], "lc_classifications":
        ["HV9094.D4 L5 1973"], "key": "/books/OL5416784M", "authors": [{"key": "/authors/OL150590A"}],
        "publish_places": ["Seattle"], "contributions": ["Evans, Wainwright, joint
        author."], "pagination": "xx, 364 p.", "source_records": ["marc:marc_records_scriblio_net/part07.dat:107217508:959",
        "marc:marc_ithaca_college/ic_marc.mrc:149385128:1011", "marc:marc_loc_2016/BooksAll.2016.part08.utf8:5375457:954",
        "ia:r[...]
- request:
    method: get
    uri: http://openlibrary.org/books/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ol-Stats:
      - '"IB 1 0.002 MC 1 0.000 TT 0 0.002"'
    body:
      encoding: UTF-8
      string: '{"error": "notfound", "key": "/books/"}'
  recorded_at: Mon, 26 Sep 2022 20:47:04 GMT
- request:
    method: get
    uri: http://openlibrary.org/books/OL8584347M.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.003"'
    body:
      encoding: UTF-8
      string: '{"publishers": ["Pilgrims'' Process, Inc."], "number_of_pages": 252,
        "subtitle": "Opera in Denver-1879-2006", "weight": "11.2 ounces", "covers":
        [740871], "physical_format": "Paperback", "last_modified": {"type": "/type/datetime",
        "value": "2019-07-31T04:03:45.585860"}, "latest_revision": 8, "key": "/books/OL8584347M",
        "authors": [{"key": "/authors/OL1175532A"}], "subjects": ["Genres & Styles
        - Opera", "History & Criticism - General", "Music / History & Criticism",
        "Music-Genres & Styles - Opera", "Music/Songbooks", "Music", "Colorado", "Denver",
        "Denver (Colo.)", "Opera", "Social life and customs"], "isbn_13": ["9780974959788"],
        "title": "Exotic and Irrational", "identifiers": {"goodreads": ["4290059"],
        "librarything": ["2495048"]}, "created": {"type": "/type/datetime", "value":
        "2008-04-30T06:33:27.187047"}, "languages": [{"key": "/languages/eng"}], "isbn_10":
        ["0974959782"], "publish_date": "May 15, 2006", "oclc_numbers": ["71354924"],
        "works": [{"key": "/works/OL3404420W"}], "type": {"key": "/type/edition"},
        "physical_dimensions": "8.8 x 6 x 0.5 inches", "revision": 8}'
  recorded_at: Mon, 26 Sep 2022 20:47:04 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=key&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Sep 2022 02:04:54 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
[...]
[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.301 TT 0 0.322"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 8849,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL7919260W",
                    "type": "work",
                    "seed": [
                        "/books/OL7534653M",
                        "/books/OL9773191M",
                        "/works/OL7919260W",
                        "/authors/OL2644662A"
                    ],
                    "title": "Denver                              **",
                    "title_suggest": "Denver                              **",
                    "edition_count": 2,
                    "edition_key": [
                        "OL7534653M",
                        "OL9773191M"
                    ],
                    "publish_date": [
                        "July 1982",
                        "1982"
                    ],
                    "publish_year": [
                        1982
                    ],
                    "first_publish_year": 1982,
                    "number_of_pages_median": 480,
                    "oclc": [
                        "8545466"
                    ],
                    "isbn": [
                        "0445047119",
                        "9780449047118",
                        "0449047113",
                        "9780445047112"
                    ],
                    "last_modified_i": 1303831840,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Popular Library",
                        "Fawcett Books"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2644662A"
                    ],
                    "author_name": [
                        "John Dunning"
                    ],
                    "id_goodreads": [
                        "572193",
                        "1709509"
                    ],
                    "id_librarything": [
                        "762567"
                    ],
                    "publisher_facet": [
                        "Fawcett Books",
                        "Popular Library"
                    ],
                    "_version_": 1735676409105350658,
                    "author_facet": [
                        "OL2644662A John Dunning"
                    ]
                },
                {
                    "key": "/works/OL26878533W",
                    "type": "work",
                    "seed": [
                        "/books/OL36444779M",
                        "/works/OL26878533W",
                        "/authors/OL10084594A"
                    ],
                    "title": "Denver Gift",
                    "title_suggest": "Denver Gift",
               [...]
[...]
