---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/books/OL6284026M.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.005"'
    body:
      encoding: UTF-8
      string: '{"publishers": ["Hollycrofters, inc., ltd."], "table_of_contents":
        [{"type": {"key": "/type/toc_item"}, "pagenum": "17", "class": "subsection",
        "label": "Chapter I"}, {"type": {"key": "/type/toc_item"}, "pagenum": "29",
        "class": "part", "label": "Chapter II"}, {"type": {"key": "/type/toc_item"},
        "pagenum": "32", "class": "part", "label": "Chapter III"}, {"type": {"key":
        "/type/toc_item"}, "pagenum": "43", "class": "part", "label": "Chapter IV"},
        {"type": {"key": "/type/toc_item"}, "title": "1898-1899", "pagenum": "51",
        "class": "part", "label": "Chapter V"}, {"type": {"key": "/type/toc_item"},
        "title": "1900-1901", "pagenum": "59", "class": "part", "label": "Chapter
        VI"}, {"type": {"key": "/type/toc_item"}, "label": "Chapter VII", "pagenum":
        "70", "class": "part", "title": "1902-1903"}, {"type": {"key": "/type/toc_item"},
        "title": "1904-1905", "pagenum": "85", "class": "part", "label": "Chapter
        VIII"}, {"type": {"key": "/type/toc_it[...]
- request:
    method: get
    uri: http://openlibrary.org/books/OL11709103M.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.004"'
    body:
      encoding: UTF-8
      string: '{"publishers": ["Discovery Press Publications Inc"], "number_of_pages":
        32, "weight": "14.4 ounces", "covers": [2699837], "physical_format": "Hardcover",
        "key": "/books/OL11709103M", "authors": [{"key": "/authors/OL2010374A"}],
        "subjects": ["Children''s 4-8", "Fear in children", "Fear of the dark", "Monsters",
        "Nightmares", "Juvenile Fiction / Bedtime & Dreams", "Juvenile Fiction / Social
        Situations / Emotions & Feelings", "Action & Adventure - General", "Bedtime",
        "Fiction", "Juvenile Fiction", "Sleep", "Children: Kindergarten"], "isbn_13":
        ["9780964515918"], "source_records": ["amazon:0964515911", "marc:marc_loc_updates/v36.i42.records.utf8:4642852:955",
        "marc:marc_loc_2016/BooksAll.2016.part33.utf8:77056596:955", "ia:monstersolution0000zime"],
        "title": "Monster Solution", "identifiers": {"goodreads": ["5718608"]}, "languages":
        [{"key": "/languages/eng"}], "isbn_10": ["0964515911"], "publish_date": "July
        1, 2005", "oclc_numbers": ["61209948"], "works": [{"key": "/works/OL7099888W"}],
        "type": {"key": "/type/edition"}, "physical_dimensions": "10.7 x 8.6 x 0.4
        inches", "lccn": ["2005902461"], "lc_classifications": ["MLCM 2006/43725 (P)"],
        "ocaid": "monstersolution0000zime", "latest_revision": 9, "revision": 9, "created":
        {"type": "/type/datetime", "value": "2008-04-30T20:50:18.033121"}, "last_modified":
        {"type": "/type/datetime", "value": "2021-08-17T21:58:38.070807"}}'
  recorded_at: Mon, 26 Sep 2022 20:01:53 GMT
- request:
    method: get
    uri: http://openlibrary.org/books/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Ol-Stats:
      - '"IB 1 0.001 MC 1 0.000 TT 0 0.002"'
    body:
      encoding: UTF-8
      string: '{"error": "notfound", "key": "/books/"}'
  recorded_at: Mon, 26 Sep 2022 20:01:54 GMT
[...]
- request:
    method: get
    uri: http://openlibrary.org/books/OL12340667M.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.004"'
    body:
      encoding: UTF-8
      string: '{"publishers": ["Rose City Press"], "identifiers": {"goodreads": ["3624325"]},
        "ia_box_id": ["IA117404"], "covers": [6480927], "physical_format": "Hardcover",
        "key": "/books/OL12340667M", "authors": [{"key": "/authors/OL3879032A"}],
        "ocaid": "boldfacedliesnov00port", "source_records": ["amazon:1934099112",
        "marc:marc_loc_updates/v35.i12.records.utf8:11702355:796", "marc:marc_loc_updates/v36.i04.records.utf8:18012748:791",
        "ia:boldfacedliesnov00port", "marc:marc_loc_2016/BooksAll.2016.part34.utf8:181673992:791"],
        "title": "Boldfaced Lies", "number_of_pages": 349, "languages": [{"key": "/languages/eng"}],
        "isbn_10": ["1934099112"], "publish_date": "2006", "oclc_numbers": ["70877639"],
        "works": [{"key": "/works/OL9897019W"}], "type": {"key": "/type/edition"},
        "lccn": ["2007295483"], "lc_classifications": ["PS3566.O6423 B65 2006"], "latest_revision":
        10, "revision": 10, "created": {"type": "/type/datetime", "value": "2008-04-30T20:50:18.033121"},
        "last_modified": {"type": "/type/datetime", "value": "2020-12-17T13:33:39.124109"}}'
  recorded_at: Mon, 26 Sep 2022 20:06:46 GMT
- request:
    method: get
    uri: http://openlibrary.org/books/OL708367M.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.005"'
    body:
      encoding: UTF-8
      string: '{"publishers": ["LPD Press"], "identifiers": {"goodreads": ["495928",
        "4342018"], "librarything": ["4893103"]}, "subtitle": "thirty years of collecting
        1966-1996", "isbn_10": ["0964154242", "0964154277"], "subject_place": ["New
        Mexico", "Colorado", "Denver"], "pagination": "91 p. :", "covers": [1694386,
        727871], "lc_classifications": ["N7910.N6 S78 1997", "N7910.N6S78 1997"],
        "key": "/books/OL708367M", "authors": [{"key": "/authors/OL406949A"}], "publish_places":
        ["Albuquerque, NM"], "contributions": ["Awalt, Barbe.", "Rhetts, Paul Fisher."],
        "genres": ["Catalogs."], "source_records": ["marc:marc_loc_2016/BooksAll.2016.part26.utf8:82605084:1164",
        "bwb:9780964154247"], "title": "The Regis santos", "dewey_decimal_class":
        ["704.9/482/07478883"], "notes": {"type": "/type/text", "value": "Includes
        bibliographical references (p. 87-90) and indexes."}, "number_of_pages": 91,
        "languages": [{"key": "/languages/eng"}], "lccn": ["97070979"], "subjects":
        ["Regis University (Denver, Colo.) -- Art collections -- Catalogs.", "Santos
        (Art) -- New Mexico -- Catalogs.", "Folk art -- New Mexico -- Catalogs.",
        "Santos (Art) -- Colorado -- Denver -- Catalogs.", "Folk art -- Colorado --
        Denver -- Catalogs."], "publish_date": "1997", "publish_country": "nmu", "by_statement":
        "by Thomas J. Steele, Barbe Awalt, and Paul Rhetts.", "oclc_numbers": ["37482854"],
        "works": [{"key": "/works/OL2766605W"}], "type": {"key": "/type/edition"},
        "latest_revision": 9, "revision": 9, "created": {"type": "/type/datetime",
        "value": "2008-04-01T03:28:50.625462"}, "last_modified": {"type": "/type/datetime",
        "value": "2021-09-17T21:05:30.232755"}}'
  recorded_at: Mon, 26 Sep 2022 20:06:47 GMT
- request:
    method: get
    uri: http://openlibrary.org/books/OL5416784M.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.003"'
    body:
      encoding: UTF-8
      string: '{"publishers": ["University of Washington Press"], "number_of_pages":
        364, "isbn_10": ["0295952989"], "series": ["Americana library, AL-28"], "lc_classifications":
        ["HV9094.D4 L5 1973"], "key": "/books/OL5416784M", "authors": [{"key": "/authors/OL150590A"}],
        "publish_places": ["Seattle"], "contributions": ["Evans, Wainwright, joint
        author."], "pagination": "xx, 364 p.", "source_records": ["marc:marc_records_scriblio_net/part07.dat:107217508:959",
        "marc:marc_ithaca_college/ic_marc.mrc:149385128:1011", "marc:marc_loc_2016/BooksAll.2016.part08.utf8:5375457:954",
        "ia:r[...]
[...]
