---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=appid&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664125190,"sunrise":1664110223,"sunset":1664153565,"temp":65.5,"feels_like":63.57,"pressure":1025,"humidity":39,"dew_point":39.92,"uvi":4.56,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":297,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664121600,"temp":65.41,"feels_like":63.34,"pressure":1025,"humidity":36,"dew_point":37.8,"uvi":2.72,"clouds":0,"visibility":10000,"wind_speed":2.77,"wind_deg":112,"wind_gust":3.69,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664125200,"temp":65.5,"feels_like":63.57,"pressure":1025,"humidity":39,"dew_point":39.92,"uvi":4.56,"clouds":0,"visibility":10000,"wind_speed":2.86,"wind_deg":108,"wind_gust":3.58,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664128800,"temp":66.52,"feels_like":64.53,"pressure":1024,"humidity":35,"dew_point":38.07,"uvi":6.05,"clouds":0,"visibility":10000,"wind_speed":2.75,"wind_deg":81,"wind_gust":3.38,"weather":[{"id":800,"main":"[...]
[...]
