---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=appid&exclude=minutely&lat=39.73&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664222815,"sunrise":1664196678,"sunset":1664239865,"temp":79.63,"feels_like":79.63,"pressure":1020,"humidity":23,"dew_point":38.61,"uvi":5.95,"clouds":20,"visibility":10000,"wind_speed":10.36,"wind_deg":360,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1664222400,"temp":79.63,"feels_like":79.63,"pressure":1020,"humidity":23,"dew_point":38.61,"uvi":5.95,"clouds":20,"visibility":10000,"wind_speed":5.3,"wind_deg":58,"wind_gust":4.85,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1664226000,"temp":80.01,"feels_like":78.64,"pressure":1019,"humidity":21,"dew_point":36.61,"uvi":4.48,"clouds":16,"visibility":10000,"wind_speed":4.88,"wind_deg":60,"wind_gust":4.56,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1664229600,"temp":80.42,"feels_like":78.8,"pressure":1018,"humidity":19,"dew_point":34.43,"uvi":2.71,"clouds":12,"visibility":10000,"wind_speed":5.86,"wind_deg":63,"wind_gust":5.19,"weather":[{"id":801,"main[...]
[...]
