---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=appid&exclude=minutely&lat=39.73&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664214614,"sunrise":1664196678,"sunset":1664239865,"temp":76.57,"feels_like":75.15,"pressure":1022,"humidity":26,"dew_point":39.16,"uvi":5.86,"clouds":0,"visibility":10000,"wind_speed":9.22,"wind_deg":10,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664211600,"temp":76.08,"feels_like":74.52,"pressure":1021,"humidity":24,"dew_point":36.72,"uvi":4.41,"clouds":0,"visibility":10000,"wind_speed":1.9,"wind_deg":112,"wind_gust":2.57,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664215200,"temp":76.57,"feels_like":75.15,"pressure":1022,"humidity":26,"dew_point":39.16,"uvi":5.86,"clouds":0,"visibility":10000,"wind_speed":5.3,"wind_deg":73,"wind_gust":7.74,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664218800,"temp":77.07,"feels_like":75.61,"pressure":1021,"humidity":24,"dew_point":37.54,"uvi":6.46,"clouds":0,"visibility":10000,"wind_speed":5.84,"wind_deg":68,"wind_gust":6.31,"weather":[{"id":800,"main":"C[...]
[...]
